<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e4beb6">  <td>19/07/01 19:39:13</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Psychsci6DLPTest.Logout()[pri:0, instance:com.Norton.Authentication.Psychsci6DLPTest@4fe3c938]">&lt;&lt;Logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>19/07/01 19:38:31</td>   <td>-42122</td> <td>&nbsp;</td><td title="&gt;&gt;Psychsci6DLPTest.callPropertiesFile()[pri:0, instance:com.Norton.Authentication.Psychsci6DLPTest@4fe3c938]">&gt;&gt;callPropertiesFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>19/07/01 19:38:44</td>   <td>-29418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Psychsci6DLPTest.nciaLogin()[pri:0, instance:com.Norton.Authentication.Psychsci6DLPTest@4fe3c938]">nciaLogin</td> 
  <td>main@520016214</td>   <td></td> </tr>
</table>
